*,
*::before,
*::after {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}


body {
  height: 100vh;
  width: 100vw;
}

// navbar

#nav-background {
  background-color: #005689;
}

nav {
  max-width: 1320px;
  margin-left: auto;
  margin-right: auto;
  padding: 1%;
  position: relative;
  height: 18vh;
  background-color: #005689;
  & a {
    color: white;
    text-decoration: none;
  }
}

.logo {
  position: absolute;
  top: 29%;
  right: 3%;
}

.nav-upper-right {
  float: right;
}

.nav-upper-right {
  width: 10em;
  text-align: right;
}

.nav-upper-right a:last-child {
  padding-left: 10%;
}

.nav-upper {
  height: 80%;
}

.nav-lower {
  background-color: #00456e;
  height: 20%;
  width: 100%;
  padding-top: 1%;
  padding-bottom: 2.1%;
  position: absolute;
  bottom: 0;
  left: 0;
  & a {
    padding-left: 1%;
  }
}

.nav-link-icon {
  padding: 0 1%;
}
