


#{$all-buttons} {
  background-color: white;
}

#{$all-buttons-focus},
#{$all-buttons-hover} {
  background-color: white;
}

#{$all-buttons-active} {
  background-color: white;
}

button {
  @include button(pill, white);
  background: white;
  border: 1px solid $border-color;
  color: $guardian-color-dark;
  // &:focus, &:hover {
  //   border: 1px solid grey;
  //   color: yellow;
  //
  // }
  margin: 2%;
}

.headlines-buttons {
  position: absolute;
  bottom: 1%;
  left: 3%;
}
