


#{$all-buttons} {
  background-color: white;
  border: 1px solid $border-color;
  color: $guardian-color-dark;
  font-weight: bold;
  border-radius: 25px;
  display: block;
  margin-bottom: 3%;
  height: 1.5rem;
}

#{$all-buttons-focus},
#{$all-buttons-hover} {
  border: 1px solid darkgrey;
  color: black;
  outline: none;

}

#{$all-buttons-active} {
}

.headlines-buttons {
  position: absolute;
  bottom: 1%;
  left: 3%;
}
