.wrap {
  height: 100%;
  max-width: 1320px;
  margin-left: auto;
  margin-right: auto;
}

#headlines {
  margin-top: 1rem;
  height: 70%;
}

// Aside
aside {
  background-color: white;
  position: relative;
  float: left;
  width: 20%;
  height: 100%;
  @media screen and (max-width: $medium-screen) {
      float: none;
      width: 100%;
      height: 20%;
    }
  }

// .headlines-aside {
//   position: relative;
// }
//
// .section-info {
//   float: left;
//   width: 20%;
//   height: 100%;
//   @include medium-screen();
// }

.section-content {
  background: white;
  padding-bottom: 3%;
  width: 80%;
  height: 100%;
  float: left;
  & img {
    width: 100%;
  }
  & h3, & p, & h4, &h5 {
    padding-left: 2%;
    padding-top: 1%;
  }
  & h3 {
    font-size: 1.7em;
  }
  & h4 {
    font-size: 1.4rem;
  }
  & h5 {
    font-size: 1.1rem;
  }
}

.row1col1, .row1col2, .row2col1, .row2col2, .subrow1, .subrow2, .subrow3 {
  border-top: 1px solid $border-color;
}

.row1 {
  margin-bottom: 2.35765%;
  width: 90%;
  height: 50%;
  & .row1col1 {
    color: white;
    background: $main-news-background;
    border-top: 1px solid lighten($main-news-background, 25%);
    position: relative;
    height: 100%;
    @include col-gutter(9);
    &:after {
    @include vertical-hr(-1.8%);
    }
    & .col-main-news {
      @include col-gutter(4);
      height: 26.5rem;
    }
    & .col-main-pic {
      @include col-gutter(8, 0);
      height: 26.5rem;
    }
  }
  & .row1col2 {
    background: $news-background;
    height: 100%;
    @include col-gutter(3, 0);
  }
}

.row2 {
  width: 90%;
  height: 47.2%;
  & .row2col1 {
    background: $news-background;
    position: relative;
    height: 100%;
    @include col-gutter(3);
    &:after {
    @include vertical-hr(-5.8%);
    }
  }
  & .row2col2 {
    color: white;
    position: relative;
    height: 100%;
    @include col-gutter(3);
    background-color: $live-news-background;
    &:after {
    @include vertical-hr(-5.8%);
    }
  }
  & .row2col3 {
    position: relative;
    height: 100%;
    @include col-gutter(3);
    &:after {
    @include vertical-hr(-5.8%);
    }
    @include subrows();
  }
  & .row2col4 {
    height: 100%;
    @include col-gutter(3,0);
    @include subrows();
  }
}





//content grid template

// #Content section id goes here {
//   height: 70%;
// }
//
// .section-info {
//   float: left;
//   width: 20%;
//   height: 100%;
//   background-color: purple;
// }
//
// .section-content {
//   width: 80%;
//   height: 100%;
//   float: left;
// }
//
// .row1 {
//   margin-bottom: 2.35765%;
//   width: 100%;
//   height: 50%;
//   & .row1col1 {
//     position: relative;
//     height: 100%;
//     @include col-gutter(9);
//     background-color: red;
//     &:after {
//     @include vertical-hr(-1.8%);
//     }
//   }
//   & .row1col2 {
//     height: 100%;
//     @include col-gutter(3, 0);
//     background-color: orange;
//   }
// }
//
// .row2 {
//   width: 100%;
//   height: 47.2%;
//   & .row2col1 {
//     position: relative;
//     height: 100%;
//     @include col-gutter(3);
//     background-color: yellow;
//     &:after {
//     @include vertical-hr(-5.8%);
//     }
//   }
//   & .row2col2 {
//     position: relative;
//     height: 100%;
//     @include col-gutter(3);
//     background-color: pink;
//     &:after {
//     @include vertical-hr(-5.8%);
//     }
//   }
//   & .row2col3 {
//     position: relative;
//     height: 100%;
//     @include col-gutter(3);
//     &:after {
//     @include vertical-hr(-5.8%);
//     }
//     @include subrows();
//   }
//   & .row2col4 {
//     height: 100%;
//     @include col-gutter(3,0);
//     @include subrows();
//   }
// }
