.wrap {
  height: 100%;
  max-width: 1320px;
  margin-left: auto;
  margin-right: auto;
}

#headlines {
  height: 70%;
}

// Aside
aside {
  background-color: white;
}

.headlines-aside {
  position: relative;
}

.section-info {
  float: left;
  width: 20%;
  height: 100%;
}

.section-content {
  width: 80%;
  height: 100%;
  float: left;
}

.row1 {
  margin-bottom: 2.35765%;
  width: 100%;
  height: 50%;
  & .row1col1 {
    position: relative;
    height: 100%;
    @include col-gutter(9);
    background-color: red;
    &:after {
    @include vertical-hr(-1.8%);
    }
    & .col-main-news {
      @include col-gutter(4);
      height: 15em;
      background-color: black;
    }
    & .col-main-pic {
      @include col-gutter(8, 0);
      height: 15em;
      background-color: green;
    }
  }
  & .row1col2 {
    height: 100%;
    @include col-gutter(3, 0);
    background-color: orange;
  }
}

.row2 {
  width: 100%;
  height: 47.2%;
  & .row2col1 {
    position: relative;
    height: 100%;
    @include col-gutter(3);
    background-color: yellow;
    &:after {
    @include vertical-hr(-5.8%);
    }
  }
  & .row2col2 {
    position: relative;
    height: 100%;
    @include col-gutter(3);
    background-color: pink;
    &:after {
    @include vertical-hr(-5.8%);
    }
  }
  & .row2col3 {
    position: relative;
    height: 100%;
    @include col-gutter(3);
    &:after {
    @include vertical-hr(-5.8%);
    }
    @include subrows();
  }
  & .row2col4 {
    height: 100%;
    @include col-gutter(3,0);
    @include subrows();
  }
}





//content grid template

// #Content section id goes here {
//   height: 70%;
// }
//
// .section-info {
//   float: left;
//   width: 20%;
//   height: 100%;
//   background-color: purple;
// }
//
// .section-content {
//   width: 80%;
//   height: 100%;
//   float: left;
// }
//
// .row1 {
//   margin-bottom: 2.35765%;
//   width: 100%;
//   height: 50%;
//   & .row1col1 {
//     position: relative;
//     height: 100%;
//     @include col-gutter(9);
//     background-color: red;
//     &:after {
//     @include vertical-hr(-1.8%);
//     }
//   }
//   & .row1col2 {
//     height: 100%;
//     @include col-gutter(3, 0);
//     background-color: orange;
//   }
// }
//
// .row2 {
//   width: 100%;
//   height: 47.2%;
//   & .row2col1 {
//     position: relative;
//     height: 100%;
//     @include col-gutter(3);
//     background-color: yellow;
//     &:after {
//     @include vertical-hr(-5.8%);
//     }
//   }
//   & .row2col2 {
//     position: relative;
//     height: 100%;
//     @include col-gutter(3);
//     background-color: pink;
//     &:after {
//     @include vertical-hr(-5.8%);
//     }
//   }
//   & .row2col3 {
//     position: relative;
//     height: 100%;
//     @include col-gutter(3);
//     &:after {
//     @include vertical-hr(-5.8%);
//     }
//     @include subrows();
//   }
//   & .row2col4 {
//     height: 100%;
//     @include col-gutter(3,0);
//     @include subrows();
//   }
// }
