@mixin col-gutter( $cols, $gutter:null ){
    @include span-columns($cols);
    margin-right: $gutter;
    height: 100%;
}

@mixin vertical-hr ($right:null) {
  content: "";
  height: 100%;
  position: absolute;
  top: 0;
  right: $right;
  border: 0.6px solid #dfdfdf;
}

@mixin subrows {
  & .subrow1 {
    margin-bottom: 3.5%;
    height: 31%;
  }
  & .subrow2 {
    margin-bottom: 3.5%;
    height: 31%;
  }
  & .subrow3 {
    height: 31%;
  }
}

@mixin font-stack ($color, $size, $weight) {
  color: $color;
  font-size: $size;
  font-weight: $weight;
}

@mixin red-card {
  background-color: $main-news-background;
  border-top: 1px solid lighten($main-news-background, 25%);
  color: white;
  .header-colour-span {
    color: lighten($main-news-background, 25%);
  }
}

@mixin default-card-color {
  border-top: 1px solid $border-color;
  background: $news-background;
  color: #4d4d4d;
  .header-colour-span {
    color: $guardian-color-dark;
  }
}

@mixin live-card-color {
  background: $live-news-background;
  color: white;
  .header-colour-span {
    color: lighten($live-news-background, 30%);
  }
}

@mixin aside ($padding-left:null) {
  padding-left: $padding-left;
  margin-left: auto;
  margin-right: auto;
}
