// Colours

$guardian-color: #005689;
$guardian-color-dark: #00456e;
$border-color: #4bc6df;
$news-background: #f6f6f6;
$main-news-background: #951c55;
$live-news-background: #b51800;

// media queries

$medium-screen: "screen and (max-width: 1140px)";
$small-screen: "screen and (max-width: 980px)";
$xsmall-screen: "screen and (max-width: 740px)";
